<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                             http://www.springframework.org/schema/beans/spring-beans.xsd">

 					
<!-- <bean id ="tv" class="org.zerock.polymorphism.SamsungTV"/> -->

<!--  spring컨테이너가 setter메소드 를 이용해서 객체를 주입. -->
<bean id ="tv" class="org.zerock.polymorphism6.SamsungTV">
  <constructor-arg ref="apple"></constructor-arg>
  <constructor-arg value="2700000"></constructor-arg>
</bean>

<bean id="apple" class="org.zerock.polymorphism6.AppleSpeaker"/>
<bean id="sony" class="org.zerock.polymorphism6.SonySpeaker"/>

</beans>